@using System.Web.Optimization;
@model IEnumerable<Lexnarro.ViewModels.Training>

@{
    Layout = null;
}

@Styles.Render("~/bundles/css")

<style type="text/css">
    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    .page-padding {
        padding: 30px 20px 10px 20px;
    }

    .text-style {
        font-size: 18px;
    }

    .text-style-medium {
        font-size: 14px;
    }

    .text-style-small {
        font-size: 12px;
    }

    .text-color-style {
        color: #428bca;
    }

    .text-super-style {
        font-size: 7pt;
        /*font-family: 'Times New Roman', 'Times', serif;*/
        vertical-align: super;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QLD</title>
</head>
<body class="page-padding" style="background-color:white">
    <div class="container">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="row">
                <h4>Name - @Model.Select(u => u.FirstName).First() @Model.Select(u => u.LastName).First()</h4>
            </div>

            <div class="row">
                <h4>Member Number - @Model.Select(u => u.LawSocietyNumber).First()</h4>
            </div>

            <div class="row">
                <h4 class="text-center" style="background-color: black; color:white; padding:3px;">CPD Scheme Record</h4>
            </div>
            <div class="row">
                <table class="table table-responsive table-bordered text-style-small">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Event Title</th>
                            <th>Provider</th>
                            <th>Core area</th>
                            <th>Format</th>
                            <th>Units</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date.ToString().Split(' ')[0])
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descrption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Provider)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActivityName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Units_Done)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row text-center">
                <h5><b>Total Units : </b> @ViewBag.unitsDone</h5>
                <h5 style="background-color: black; color: white; padding: 2px;">
                    <b>Year : </b>@Model.Select(u => u.Financial_Year).First()
                </h5>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</body>
</html>
