@model Lexnarro.Models.User_Profile
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<form action="" method="post" class="login-form">
    <div class="login-wrap">
        <h2>Please enter your Email Address</h2>

        <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @placeholder = "Enter Your Email Address" })
            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { style = "float:left; color:red;" })
        </div>

        <button class="btn btn-danger btn-lg btn-block" type="submit">Forgot Password</button>
        <label class="checkbox">
            <span class="pull-right"> <a href="@Url.Action("Login","Account")"> Back to Login</a></span>
        </label>
        @*<h3>@ViewBag.message</h3>*@
        @*@Html.ActionLink("Signup", "Create", "Signup", new { }, htmlAttributes: new { @class = "btn btn-info btn-lg btn-block" })*@
    </div>
</form>

@section JavaScript
{
    @Html.Raw(ViewBag.message)
}

