@using System.Web.Optimization
@using Lexnarro.HelperClasses
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="">
<head>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="CPD, Continued Professional development, Lawyer, Legal, Barrister, Law Society, effortlessly, effortless, simple, simply, automation, AI">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <title>Terms and Conditions</title>

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
    <!-- <link rel="icon" href="images/favicon.ico" type="image/x-icon">-->
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Lato:300,400,700,900" rel="stylesheet">

    @Styles.Render("~/bundles/index")

    <link href="~/Content/IndexCSS/font-awesome.min.css" rel="stylesheet" />

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
    </style>
</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div id="loader">
            <div id="box"></div>
            <div id="hill"></div>
        </div>
    </div>
    <!-- Header -->
    <header id="home">
        @*<nav class="navbar navbar-default" id="main-nav" style="padding-bottom: 2px;background-color:#ee494d;">*@
        <nav class="navbar navbar-default" id="main-nav" style="padding-bottom: 2px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-morki">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#">Lexnarro</a>-->
                            @*<a href="" class="navbar-brand"><img src="./ln2.jpg" height="40" width="200" style="margin-top:-5px"></a>*@
                            <a href="/Account/Index" class="navbar-brand"><img src="~/Content/img/ln2(2).png" height="40" width="190" style="margin-top:-17px; padding-bottom: 2px;"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-morki">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="https://lexnarro.com.au/#home" data-scroll>Home</a></li>
                                <li><a href="https://lexnarro.com.au/#features" data-scroll id="features">Features</a></li>
                                <li><a href="https://lexnarro.com.au/#screenshots" data-scroll>Screenshots</a></li>
                                <li><a href="https://lexnarro.com.au/#price-table" data-scroll>Price</a></li>
                                <li><a href="https://lexnarro.com.au/#testimonial" data-scroll>About</a></li>
                                <li><a href="https://lexnarro.com.au/#contact" data-scroll>Contact</a></li>

                                @{
                                    var userName = UserHelper.GetUserName();
                                    var userRole = UserHelper.GetUserRole();
                                }

                                @if (userRole == "Admin")
                                {
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            @*<span class="profile-ava">
                                                    <img alt="" src="img/avatar1_small.jpg">
                                                </span>*@
                                            <span class="username">@userName</span>
                                            @*<b class="caret"></b>*@
                                        </a>

                                        <ul class="dropdown-menu extended logout">
                                            <div class="log-arrow-up"></div>
                                            <li class="eborder-top">
                                                <a href="@Url.Action("Profile", "Admin", new { }, null)"><i class="icon_profile"></i> My Profile</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "ActiveUsers", new { }, null)"><i class="icon_mail_alt"></i> Active Users</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "OtherUsers", new { }, null)"><i class="icon_clock_alt"></i> Other Users</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LogOff", "Account", new { }, null)"><i class="icon_key_alt"></i> Log Out</a>
                                            </li>
                                        </ul>
                                    </li>
                                }

                                @if (userRole == "User")
                                {
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            @*<span class="profile-ava">
                                                    <img alt="" src="img/avatar1_small.jpg">
                                                </span>*@
                                            <span class="username">@userName</span>
                                            @*<b class="caret"></b>*@
                                        </a>

                                        <ul class="dropdown-menu extended logout">
                                            <div class="log-arrow-up"></div>
                                            <li class="eborder-top">
                                                <a href="@Url.Action("Index", "Home", new { }, null)"><i class="icon_profile"></i> Dashboard</a>
                                            </li>
                                            <li class="eborder-top">
                                                <a href="@Url.Action("Index", "User", new { }, null)"><i class="icon_profile"></i> My Profile</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Training", new { }, null)"><i class="icon_mail_alt"></i> My Records</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "CarryOver", new { }, null)"><i class="icon_mail_alt"></i> Carryover</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Payment", "User", new { }, null)"><i class="icon_clock_alt"></i> My Transactions</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Subscription", new { }, null)"><i class="icon_chat_alt"></i> My Subscriptions</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LogOff", "Account", new { }, null)"><i class="icon_key_alt"></i> Log Out</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                @if (string.IsNullOrEmpty(userRole))
                                {
                                    <li class="nav-download-btn">@Html.ActionLink("Login", "Login", new { }, null)</li>
                                    <li class="nav-download-btn">@Html.ActionLink("Signup", "Signup", "User", new { }, null)</li>
                                }

                            </ul>
                        </div><!-- .navbar-collapse -->
                    </div>
                </div>
            </div>
        </nav>
    </header><!-- Ends: header -->
    <!-- Intro Section -->
    @*<section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1 col-sm-8 intro-info wow fadeIn">
                        <div class="intro-info-content">
                            <h1>
                                Manage your CPD records  effortlessly.

                            </h1>
                            <p>
                                Lex Narro is a simple way to
                                manage your CPD records. Made
                                by a busy lawyer with the same
                                pain points as you. This app is an
                                easy to use tool for tracking and
                                managing your records.
                            </p>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Signup", "User", new { }, null)"><i class="icon_key_alt"></i>Subscribe Now</a></li>
                                <li><a href="@Url.Action("Signup", "User", new { }, null)"><i class="icon_key_alt"></i>Start Trial</a></li>
                            </ul>
                        </div>
                    </div><!-- Ends: .intro-info -->

                    <div class="col-md-3 col-md-offset-1 col-sm-4 intro-image wow fadeIn">
                        <div class="intro-image-content">

                            <img src="~/Content/img/top picture.jpg" alt="" class="img-responsive">
                        </div>
                    </div><!-- Ends: .intro-image -->
                </div>
            </div>
        </section>*@<!-- Ends: .intro -->
    <!-- About App -->
    @*<section class="about-app">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="app-info wow fadeIn">
                            <h2>
                                Respond to any audit requests within
                                minutes.
                            </h2>
                            <ul class="list-unstyled">
                                <li>Record multiple years’ CPD data.</li>
                                <li>
                                    Review and manage current or previous
                                    years’ records with a user-friendly dashboard.
                                </li>
                                <li>
                                    View remaining requirements for any current
                                    year with your dashboard.
                                </li>
                                <li>
                                    Upload and maintain any accompanying
                                    documents to support your CPD activities.
                                </li>
                                <li>
                                    Send your CPD records at the touch of a
                                    button formatted with any accompanying files
                                    attached.
                                </li>
                                <li>
                                    Surplus points can be carried over to the
                                    following year in accordance with the rules of
                                    the State or Territory that you are enrolled in
                                </li>
                            </ul>
                        </div>
                    </div><!-- Ends: .col-sm-6 -->
                    <div class="col-sm-5">
                        <div class="app-image wow fadeInUp" data-wow-delay="0.2s">

                            <img src="~/Content/img/middle.jpg" alt="" class="img-responsive">
                        </div>
                    </div><!-- Ends: .col-sm-6 -->
                </div>
            </div>
        </section><!-- Ends: .about-app -->
        <!-- App Features -->
        <section class="app-features" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-header">
                        <h2>Our Features</h2>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="features-left wow fadeInLeft">
                            <div class="feature-single">
                                <div class="feature-info">
                                    <h3>Cloud back up</h3>
                                    <p>Your data is held on Australian-based servers.</p>
                                </div>
                                <div class="feature-icon">
                                    <span><i class="fa fa-slack"></i></span>
                                </div>
                            </div><!-- Ends: .feature-single -->
                            <div class="feature-single">
                                <div class="feature-info">
                                    <h3>State Specific</h3>
                                    <p>
                                        With all Australian States and Territories’ Law Societies
                                        having their own specific CPD requirements, we’ve
                                        customised our app so that when you tell us the State or
                                        Territory that you are enrolled in, the app will automatically
                                        configure itself to your Law Society’s requirements.
                                    </p>
                                </div>
                                <div class="feature-icon">
                                    <span><i class="fa fa-battery"></i></span>
                                </div>
                            </div><!-- Ends: .feature-single -->
                            <div class="feature-single">
                                <div class="feature-info">
                                    <h3>Multiple Year Records</h3>
                                    <p>
                                        Input data for all your previous years’ CPD activities and
                                        don’t rely on manual processes, emails, spreadsheets or
                                        online calendars.
                                    </p>
                                </div>
                                <div class="feature-icon">
                                    <span><i class="fa fa-bug"></i></span>
                                </div>
                            </div><!-- Ends: .feature-single -->
                            <div class="feature-single">
                                <div class="feature-info">
                                    <h3>Mandatory Point Management </h3>
                                    <p>
                                        Our app makes it clear and simple which points in which
                                        categories are still to be completed.
                                    </p>
                                </div>
                                <div class="feature-icon">
                                    <span><i class="fa fa-bar-chart"></i></span>
                                </div>
                            </div><!-- Ends: .feature-single -->
                        </div>
                    </div><!-- Ends: .col-sm-4 -->
                    <div class="col-md-4 col-sm-12" style="margin-top:100px">
                        <div class="feature-image wow fadeInUp">

                            <img src="~/Content/img/bottom.jpg" alt="" class="img-responsive">
                        </div>
                    </div><!-- Ends: .col-sm-4 -->
                    <div class="col-md-4 col-sm-12">
                        <div class="features-right wow fadeInRight">
                            <div class="feature-single">
                                <div class="feature-icon">
                                    <span><i class="fa fa-object-group"></i></span>
                                </div>
                                <div class="feature-info">
                                    <h3>Count Down to Due date</h3>
                                    <p>
                                        See how many days left are until your current year’s point
                                        are due..
                                    </p>
                                </div>
                            </div><!-- Ends: .feature-single -->
                            <div class="feature-single">
                                <div class="feature-icon">
                                    <span><i class="fa fa-magic"></i></span>
                                </div>
                                <div class="feature-info">
                                    <h3>Auto-formatted PDFs</h3>
                                    <p>
                                        At the touch of a button you can create and send a PDF of your
                                        CPD records. We’ve even auto formatted the PDF to contain
                                        the information fields required by your Law Society.
                                    </p>
                                </div>
                            </div><!-- Ends: .feature-single -->
                            <div class="feature-single">
                                <div class="feature-icon">
                                    <span><i class="fa fa-share-alt"></i></span>
                                </div>
                                <div class="feature-info">
                                    <h3>Upload Accompanying data</h3>
                                    <p>
                                        Upload any receipts or accompanying data evidencing your
                                        attendance to accompany your PDF. Lex Narro will attach these
                                        to your email when you choose to send that year’s data..
                                    </p>
                                </div>
                            </div><!-- Ends: .feature-single -->
                            <div class="feature-single">
                                <div class="feature-icon">
                                    <span><i class="fa fa-cogs"></i></span>
                                </div>
                                <div class="feature-info">
                                    <h3>Peace of Mind</h3>
                                    <p>
                                        Your privacy is paramount to us and we will only store or use
                                        your personal information in accordance with our privacy policy.
                                    </p>
                                </div>
                            </div><!-- Ends: .feature-single -->
                        </div>
                    </div><!-- Ends: .col-sm-4 -->
                </div>
            </div>
        </section><!-- Ends: .app-features -->
        <!-- Screenshots -->
        <section class="screenshots" id="screenshots">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-header">
                        <h2>App Screens</h2>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="gallery-info wow fadeInLeft">
                            <h3>Explore More</h3>
                            <p>
                                Do you or your team struggle to effectively
                                manage your CPD records. Managing your
                                records across Word files, Excel
                                spreadsheets, CPD fliers or online calendar
                                entries or a combination of these? There is a
                                better way. Lex Narro provides a way for you
                                to record and store your CPD records in one
                                place accessible at the touch of a button.
                            </p>
                            <p>
                                Sophistication on the back end and simplicity
                                on the front end. Your dashboard gives you an
                                ‘at a glance view’ of the precise CPD activities
                                you still need to complete this year and how
                                long you have to complete these.
                            </p>
                            <p>
                                Your app allows you to add details of your
                                CPD activities (including uploading supporting
                                documents such as receipts), view previous
                                years’ activities, create and send PDFs with
                                any accompanying supporting documents to
                                yourself or your Law Society. It really is that
                                simple!
                            </p>
                            <a href="">Take A Tour</a>
                        </div>
                    </div><!-- Ends: .col-sm-4 -->
                    <div class="col-md-8 col-sm-7" style="margin-top:50px">
                        <div class="screenshot-gallery owl-carousel wow fadeInRight">
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 1.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 1.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 2.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 2.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 3.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 3.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 4.png" alt="" class="img-resoponsive">

                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 4.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 5.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 5.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 6.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 6.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 7.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 7.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 8.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 8.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="screenshot-single">
                                <figure>

                                    <img src="~/Content/img/lexi/Lex App 9.png" alt="" class="img-resoponsive">
                                    <figcaption>

                                        <a href="~/Content/img/lexi/Lex App 9.png"></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div><!-- Ends: .col-sm-8 -->
                </div>
            </div>
        </section><!-- Ends: .screenshots -->
        <!-- Price Table -->
        <section class="price-table" id="price-table">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-header">
                        <h2>Our Pricing</h2>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="price-table-wrapper wow fadeIn" data-wow-delay="0.1s">
                            <div class="price-header">
                                <h3>Demo</h3>
                                <span class="price">Free 5-day </span><span>Trial</span>
                            </div>
                            <div class="price-content">
                                <ul class="list-unstyled">
                                    <li>• Limited to 5 records</li>
                                    <li class="ablock">• Unlimited PDF downloads </li>
                                    <li class="ablock">• Unlimited ancillary files upload </li>
                                    <li class="ablock">• Free Future Updates & Fixes </li>
                                    <li class="ablock">• Free Support</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="@Url.Action("Signup", "User", new { }, null)">Demo Now</a>
                            </div>
                        </div>
                    </div><!-- Ends: .col-sm-3 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="price-table-wrapper wow fadeIn" data-wow-delay="0.3s">
                            <div class="price-header">
                                <h3>1 Year</h3>
                                <span class="price">$13.99</span>
                                <span>Year</span>
                            </div>
                            <div class="price-content">
                                <ul class="list-unstyled">
                                    <li>• Less than  $1.17  per month for 1 Year Subscription </li>
                                    <li>• Unlimited Records</li>
                                    <li>• Unlimited PDF downloads</li>
                                    <li>• Unlimited ancillary files upload</li>
                                    <li>• Free Future Updates & Fixes</li>
                                    <li>• Free Support</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="@Url.Action("Signup", "User", new { }, null)">Subscribe Now</a>
                            </div>
                        </div>
                    </div><!-- Ends: .col-sm-3 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="price-table-wrapper price-table-featured wow fadeIn" data-wow-delay="0.5s">
                            <div class="price-header">
                                <h3>2 Years</h3>
                                <span class="price">$24.99</span>
                                <span>2 Year</span>
                            </div>
                            <div class="price-content">
                                <ul class="list-unstyled">
                                    <li>• Less than  $1.05  per month for 2 Year Subscription </li>
                                    <li>• Unlimited Records</li>
                                    <li>• Unlimited PDF downloads</li>
                                    <li>• Unlimited ancillary files upload</li>
                                    <li>• Free Future Updates & Fixes</li>
                                    <li>• Free Support</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="@Url.Action("Signup", "User", new { }, null)">Subscribe Now</a>
                            </div>
                        </div>
                    </div><!-- Ends: .col-sm-3 -->
                </div>
            </div>
        </section><!-- Ends: .price-table -->
        <!-- Testimonial -->
        <section class="testimonial" id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-header">
                        <h2>About</h2>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="testimonial-slider owl-carousel wow fadeInUp">
                            <div class="slide-single">
                                <div class="client-info">
                                    <ul class="list-unstyled">
                                        <li class="105">
                                        </li>
                                    </ul>
                                </div>
                                <div class="client-text">
                                    <p>
                                        Lex Narro is a simple way to manage your continuing education and professional development
                                        (CPD) obligations. Created by a busy lawyer with the same pain points as you. We made it simple
                                        and fast, so you don’t need to worry any more than you need to about your records.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Ends: .testimonial -->
        <!-- Download App -->
        <section class="download-app" id="download-app">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow bounceInUp" data-wow-delay="0.1s">
                        <h2>Now Available</h2>
                        <p>Visit the iOS App store or Google Play to download your App as well as being able to access everything by logging into our website.</p>
                        <ul class="list-unstyled">
                            <li><a href="javascript:void(0)"><img src="~/Content/img/icons/2.png" alt=""></a></li>
                            <li><a href="javascript:void(0)"><img src="~/Content/img/icons/3.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- Ends: .download-app -->*@


    @*<section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-sm-8 intro-info wow fadeIn">
                    <div class="intro-info-content">*@




    <!-- Privacy Policy -->



    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-header intro-info wow fadeIn">
                    <div class="intro-info-content">
                        <h2>Terms and Conditions</h2>
                        <p>
                            This website is owned and operated by Lex Narro Pty Ltd (ABN 46 626 892 279) (Lex Narro).
                            By accessing and/or using this website and related services, you agree to these Terms and Conditions,
                            which include our Privacy Policy (available at https://www.lexnarro.com.au/Account/privacyPolicy) (Terms).
                            Please review our Privacy Policy and these Terms carefully and immediately stop using our website if
                            you do not agree to these Terms.
                            In these Terms, 'us', 'we' and 'our' means Lex Narro.
                        </p>

                    </div>
                </div><!-- Ends: .intro-info -->
                <!-- Ends: .intro-image -->
            </div>
        </div>
    </section>


    <section class="faqs">
        <div class="container">
            <div class="row">
                @*<div class="col-sm-12 section-header intro-info wow fadeIn">*@
                @*<h2>Privacy Policy</h2>
                    <p>
                        In this Privacy Policy, 'us''we' or 'our' means Lex Narro Pty Ltd (ABN 46 626 892 279) (Lex Narro).
                        We are committed to respecting your privacy. Our Privacy Policy sets out how we collect, use, store and
                        disclose your personal information. By providing personal information to us, you consent to our collection,
                        use and disclosure of your personal information in accordance with this Privacy Policy and any other arrangements
                        that apply between us. We may change our Privacy Policy from time to time by publishing changes to it on our website.
                        We encourage you to check our website periodically to ensure that you are aware of our current Privacy Policy.
                        Personal information includes information or an opinion about an individual that is reasonably identifiable.
                        For example, this may include your name, age, gender, postcode and contact details.

                    </p>*@
                @*</div>*@
                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">


                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>
                                Registration

                            </h3>
                            <p>
                                You must be a registered user to access our product and use certain features of our website and app.
                                When you register and activate your account, you will provide us with personal information such as
                                your name, address, email address, the firm or company you work for, LSID or other identifying
                                information relevant to your membership of a professional body, the State you are enrolled in and
                                phone number. You agree to ensure that this information is accurate and current. We will handle all
                                personal information we collect in accordance with our <a href="https://www.lexnarro.com.au/Account/privacyPolicy">Privacy Policy</a>

                                When you register and activate your account, you will provide us with a user name and password.
                                You are responsible for keeping this user name and password secure and are responsible for all use and
                                activity carried out under this user name.

                                To create an account, you must be:

                            </p>
                            <ul>
                                <li>at least 18 years of age; </li>
                                <li>an Australian resident;</li>
                                <li>email address;</li>
                                <li>possess the legal right and ability to enter into a legally binding agreement with us; and</li>
                                <li>agree and warrant to use the website and app in accordance with these Terms.</li>

                            </ul>

                        </div>
                    </div><!-- Ends: .faq-single -->
                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Collection Notice  </h3>
                            <p>
                                We collect personal information about you in order to provide you with access to our product and,
                                and for purposes set out in our <a href="https://www.lexnarro.com.au/Account/privacyPolicy">Privacy Policy</a>  
                               
                                We may disclose that information to third parties that help us deliver our services (including information
                                technology suppliers, communication suppliers and our business partners) or as required by law.
                                If you do not provide this information, we may not be able to provide all of our product to you.
                                We may also disclose your personal information to recipients that are located outside of Australia,
                                including to suppliers located in India.

                                Our Privacy Policy explains: (i) how we store and use, and how you may access and correct your personal information;
                                (ii) how you can lodge a complaint regarding the handling of your personal information; and (iii) how we
                                will handle any complaint. If you would like any further information about our privacy policies or practices, please contact us
                                at admin@lexnarro.com.au.


                                By providing your personal information to us, you consent to the collection, use, storage and disclosure of that information as
                                described in the Privacy Policy and these Terms.
                            </p>


                        </div>
                    </div><!-- Ends: .faq-single -->


                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Accuracy, completeness and timeliness of information </h3>
                            <p>
                                While we use all reasonable efforts to ensure the accuracy and completeness of the information on
                                our website and app, to the extent permitted by law, including the Australian Consumer Law,
                                we make no warranty regarding the information on this website or app. You should monitor any changes
                                to the information contained on this website.

                                We are not liable to you or anyone else if interference with or damage to your computer or telephone
                                systems occurs in connection with the use of this website, app or a linked website. You must take your
                                own precautions to ensure that whatever you select for your use from our website or app is free of
                                viruses or anything else (such as worms or Trojan horses) that may interfere with or damage the
                                operations of your computer systems.

                                We may, from time to time and without notice, change or add to the website or app (including the Terms)
                                or the information, products or services described in it. However, we do not undertake to keep the
                                website or app updated. We are not liable to you or anyone else if errors occur in the information
                                on the website or app or if that information is not up-to-date.

                            </p>

                        </div>
                    </div><!-- Ends: .faq-single -->

                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Promotions  </h3>
                            <p>
                                For certain promotions, additional terms and conditions may apply. If you want to participate in such a promotion,
                                you need to agree to the relevant terms and conditions applicable to that campaign, promotion or contest.
                                In case of any inconsistency between such terms and conditions and these Terms, those terms and conditions will prevail.
                            </p>


                        </div>
                    </div><!-- Ends: .faq-single -->
                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Purchases</h3>
                            <p>
                                You may use a ‘demo’ version of our product (which version contains limited functionality) for no charge.
                                The full function version of our product is available on a subscription only basis.

                                By choosing to ‘subscribe now’ you make an offer to us to subscribe our product for the specified
                                period you chose and at the price advertised on our website at that time. We will send you a message
                                confirming that your subscription has been successful at which time the contract between us in concluded. By choosing to ‘subscribe now’ you consent to receive your receipt electronically.

                                You may cancel your subscription for our product at any time and, except in the circumstances below
                                relating to major failure(s), we are not able to provide a refund for the period of time between
                                cancellation and the expiry of the chosen subscription period.

                                Our goods and services come with guarantees that cannot be excluded under the Australian Consumer Law.
                                For major failures with the service, you are entitled: to cancel your service contract with us; and
                                to a refund for the unused portion, or to compensation for its reduced value. You are also entitled
                                to choose a refund or replacement for major failures with goods. If a failure with the goods or a
                                service does not amount to a major failure, you are entitled to have the failure rectified in a
                                reasonable time. If this is not done you are entitled to a refund for the goods and to cancel the
                                contract for the service and obtain a refund of any unused portion. You are also entitled to be
                                compensated for any other reasonably foreseeable loss or damage from a failure in the goods or service’.

                                Our prices are inclusive of any G.S.T.

                            </p>

                        </div>
                    </div><!-- Ends: .faq-single -->

                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Linked sites</h3>
                            <p>
                                Our website or app may contain links to websites operated by third parties. Those links are provided
                                for convenience and may not remain current or be maintained. Unless expressly stated otherwise, we do
                                not endorse and are not responsible for the content on those linked websites or apps and have no control
                                over or rights in those linked websites or apps.
                            </p>
                        </div>
                    </div>





                </div><!-- Ends: .col-sm-6 -->


                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">



                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Intellectual property rights</h3>
                            <p>
                                Unless otherwise indicated, we own or license from third parties all rights, title and interest
                                (including copyright, designs, patents, trademarks and other intellectual property rights) in this
                                website and app and in all of the material (including all text, graphics, logos, audio and software)
                                made available on this website or app (Content).

                                Your use of this website and app and use of and access to any Content does not grant or transfer
                                any rights, title or interest to you in relation to this website or the Content. However, we do grant
                                you a licence to access the website and view the Content on the terms and conditions set out in this
                                Agreement and, where applicable, as expressly authorised by us and/or our third-party licensors.

                                Any reproduction or redistribution of this website, app or the Content is prohibited and may result
                                in civil and criminal penalties. In addition, you must not copy the Content to any other server,
                                location or support for publication, reproduction or distribution is expressly prohibited.

                                All other use, copying or reproduction of this website, app or the Content or any part of it is
                                prohibited, except to the extent permitted by law.


                            </p>
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>
                                No commercial use
                            </h3>
                            <p>
                                This website is for your personal, non-commercial use only. You may not modify, copy, distribute, transmit,
                                display, perform, reproduce, publish, license, commercially exploit, create derivative works from, transfer,
                                or sell any Content, software, products or services contained within this website or app. You may not use this
                                website, or any of its Content, to further any commercial purpose, including any advertising or advertising
                                revenue generation activity on your own website or app.
                        </div>
                    </div>

                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Unacceptable activity</h3>
                            <p>
                                You must not do any act that we would deem to be inappropriate, is unlawful or is prohibited by any
                                laws applicable to our website or app, including but not limited to:
                            </p>

                            <ul>

                                <li>
                                    any act that would constitute a breach of either the privacy (including uploading private or personal
                                    information without an individual's consent) or any other of the legal rights of individuals;
                                </li>
                                <li>using this website or app to defame or libel us, our employees or other individuals;</li>
                                <li>
                                    uploading files that contain viruses that may cause damage to our property or the property of other
                                    individuals;
                                </li>
                                <li>
                                    posting or transmitting to this website or app any non-authorised material including, but not limited
                                    to, material that is, in our opinion, likely to cause annoyance, or which is defamatory, racist, obscene,
                                    threatening, pornographic or otherwise or which is detrimental to or in violation of our systems or a third
                                    party's systems or network security.
                                </li>

                            </ul>

                        </div>
                    </div>



                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Warranties and disclaimers</h3>
                            <p>
                                To the maximum extent permitted by law, including the Australian Consumer Law, we make no
                                warranties or representations about this website, app or the Content, including but not limited
                                to warranties or representations that they will be complete, accurate or up-to-date, that access
                                will be uninterrupted or error-free or free from viruses, or that this website or app will be secure.


                                We reserve the right to restrict, suspend or terminate without notice your access to this website,
                                app or any Content, or any feature of this website at any time without notice and we will not be
                                responsible for any loss, cost, damage or liability that may arise as a result.

                            </p>
                        </div>
                    </div>
                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Liability</h3>
                            <p>
                                To the maximum extent permitted by law, including the Australian Consumer Law, in no event shall we
                                be liable for any direct and indirect loss, damage or expense irrespective of the manner in which it
                                occurs which may be suffered due to your use of our website, app and/or the information or materials
                                contained on it, or as a result of the inaccessibility of this website, app and/or the fact that certain
                                information or materials contained on it are incorrect, incomplete or not up-to-date.
                            </p>
                        </div>
                    </div>

                    <div class="faq-single">
                        <div class="faq-icon">
                            <span><i class="fa fa-search"></i></span>
                        </div>
                        <div class="faq-content">
                            <h3>Jurisdiction and governing law</h3>
                            <p>
                                Your use of the website and app and these Terms are governed by the law of New South Wales and you
                                submit to the non-exclusive jurisdiction of the courts exercising jurisdiction in New South Wales.
                            </p>



                        </div>
                    </div>

                    <!-- Ends: .faq-single -->



                </div><!-- Ends: .col-sm-6 -->
            </div>
        </div>
    </section><!-- Ends: .faqs -->
    @*<section class="contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-header">
                        <h2>Contact</h2>
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="contact-wrapper wow fadeInLeft" data-wow-delay="0.1s">
                            <form method="post" action="">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Name" name="name" required id="txtName">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Email" name="email" required id="txtEmail">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea placeholder="Message" name="message" required id="txtMessage"></textarea>
                                    </div>
                                    <div class="col-sm-12">
                                        <button id="sendMail">Send Message</button>
                                    </div>
                                </div>
                                <div id="form-messages"></div>
                            </form>
                        </div>
                    </div><!-- Ends: .col-sm-8 -->
                    <div class="col-md-4 col-sm-5">
                        <div class="contact-details wow fadeInRight" data-wow-delay="0.3s">
                            <h3>Contact Info</h3>
                            <p>
                                Get in touch with us we’ll get back
                                to you as fast as we can. Leave
                                feedback, request support or just
                                say hello.
                            </p>
                            <ul class="list-unstyled contact-info-list">
                                <li><i class="fa fa-phone"></i> Phone: +61459 471 528</li>
                                <li><i class="fa fa-envelope"></i> Email: admin@lexnarro.com.au</li>
                                <li><i class="fa fa-globe"></i> Web: https://lexnarro.com.au</li>
                            </ul>
                            <ul class="list-unstyled contact-social">
                                <li><a href="https://www.facebook.com/Lex-Narro-291592028015780/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/LexNarro"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/lex-narro-99b436171"><i class="fa fa-linkedin"></i></a></li>
                                <!--<li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href=""><i class="fa fa-whatsapp"></i></a></li>-->
                                <li><a href="https://www.instagram.com/lexnarro/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- Ends: .col-sm-4 -->
                </div>
            </div>
        </section>*@<!-- Ends: .contact -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 footer-bottom-left">
                    <p>Lex Narro © 2019</p>
                </div>
                <div class="col-md-7 col-sm-12 footer-bottom-menu">
                    <ul class="list-unstyled">
                        <li><a href="/Account/privacyPolicy">Privacy Policy</a></li>
                        <li><a href="/Account/TermAndCondition">Terms and Condition</a></li>
                        @*<li><a href="">Support</a></li>
                            <li><a href="">New Features</a></li>*@
                    </ul>
                    <p id="back-top"><a href="#top"><i class="fa fa-angle-up"></i></a></p>
                </div>
            </div>
        </div>
    </footer>


    <!-- ===================================================
        Javascript Files
    ===================================================== -->
    <!-- ===================================================
        Javascript Files
    ===================================================== -->

    @Scripts.Render("~/bundles/indexjs")


    @section message{
        @Html.Raw(ViewBag.message)
    }

    <script>
        $(function () {
            $('#sendMail').click(function () {
                $("#sendMail").empty();
                $("#sendMail").attr("disabled", true);
                $("#sendMail").append('<i class="fa fa-spinner fa-spin"></i>Please wait...');
                $.ajax
                ({
                    url: '@Url.Action("SendMail", "Account")',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'name': $('#txtName').val(), 'email': $('#txtEmail').val(), 'message': $('#txtMessage').val() }),

                    success: function (result) {
                        $("#sendMail").empty();
                        $("#sendMail").append('Send Message');
                        $("#sendMail").attr("disabled", false);


                        Command: toastr['success']('Message sent');
                        toastr.options = {
                            'closeButton': false,
                            'debug': false,
                            'newestOnTop': false,
                            'progressBar': false,
                            'positionClass': 'toast-top-right',
                            'preventDuplicates': false,
                            'onclick': null,
                            'showDuration': '5000',
                            'hideDuration': '1000',
                            'timeOut': '3000',
                            'extendedTimeOut': '1000',
                            'showEasing': 'swing',
                            'hideEasing': 'linear',
                            'showMethod': 'fadeIn',
                            'hideMethod': 'fadeOut'
                        }
                    },
                    error: function (result) {
                        $("#sendMail").empty();
                        $("#sendMail").append('Send Message');
                        $("#sendMail").attr("disabled", false);
                        Command: toastr['error']('Message not sent. Please try again after some time.');
                        toastr.options = {
                            'closeButton': false,
                            'debug': false,
                            'newestOnTop': false,
                            'progressBar': false,
                            'positionClass': 'toast-top-right',
                            'preventDuplicates': false,
                            'onclick': null,
                            'showDuration': '5000',
                            'hideDuration': '1000',
                            'timeOut': '3000',
                            'extendedTimeOut': '1000',
                            'showEasing': 'swing',
                            'hideEasing': 'linear',
                            'showMethod': 'fadeIn',
                            'hideMethod': 'fadeOut'
                        }
                    }
                });
            })
        })
    </script>

    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() == 0) {
                //$('#header').removeClass('tiny');
                //$('#menu-spacing').addClass('nav-margin-top');
                $('.navbar-brand img').attr('src', '../Content/img/ln2(2).png');
            } else {
                //$('#header').addClass('tiny');
                //$('#menu-spacing').removeClass('nav-margin-top');
                $('.navbar-brand img').attr('src', '../Content/img/ln1.png');
            }
        });
    </script>

    <script>

        function SendOTP() {

            var mobile = $('#userProfileDetails_Phone').val();
            if (mobile != null && mobile != '') {
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("SendOTP", "Account")',
                    data: { 'Mobile': mobile },
                    datatype: 'JSON',
                    success: function (obj) {

                    }
                });
            }
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136966071-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-136966071-1');
    </script>


</body>
</html>
