@model Lexnarro.Models.Plan_Master

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="row">
    <div class="form-horizontal col-lg-6 col-lg-offset-2">
        <div class="alert alert-info fade in">
            <h4>Plan</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label("Plan")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Plan)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Plan_ID }, htmlAttributes: new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to list", "Index", new { }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
@section JavaScript
{
    @Html.Raw(ViewBag.message)
}


@section scripts{
    @Html.Raw(ViewBag.message)
}
